
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  max-width: 1440px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
  direction: underline;
}
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
address {
  margin-left: auto;
}
/* nav */
.head-nav {
  border-bottom: 1px solid #e7e9fc;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-nav {
  display: flex;
  align-items: center;
}
.container-nav-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.logo:hover {
  color: #404bbf;
}
.logo:focus {
  color: #404bbf;
}
.logo-studio {
  color: #2e2f42;
}
.container-nav-menu {
  display: flex;
  gap: 40px;
}
.nav {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  display: block;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
}
.nav:hover,
.nav:focus {
  color: #404bbf;
}

.address-info {
  font-size: 16px;
  color: #434455;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-info:hover,
.address-info:focus {
  color: #404bbf;
}

.address {
  display: flex;
  gap: 40px;
  font-style: normal;
  margin-left: auto;
}

/* main */
.title {
  background-color: #2e2f42;
  padding: 188px 0;
}

.title-text {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  margin: 0 auto;
  color: #fff;
  max-width: 496px;
  margin-bottom: 48px;
  text-align: center;
  color: #fff;
}
/* button */
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* sectoin 2 */
.our-advent {
  padding: 120px 0;
}

.section-title {
  visibility: hidden;
}
.list-advent {
  display: flex;

  gap: 24px;
}
.list-advent-strategy {
  width: calc((100% - 72px) / 4);
}
.caption {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
}
.section-our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.section-title-team {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.list-team {
  display: flex;

  gap: 24px;
}
.section-card {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.name-position {
  padding: 32px 0;
}
.caption-name {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #2e2f42;
}
.text-position {
  text-align: center;
}
.portfolio {
  padding: 120px 0;
}
.section-title-portfolio {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.list-portfolio-item {
  width: calc((100% - 48px) / 3);
}
.name-category {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.caption-product {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-studio-footer {
  color: #f4f4fd;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
